.root-blip > .editor-container > .editor > :first-child {
  font-size: 28px!important;
  font-weight: bold;
  text-align: center;
}

.fold-button.subdiscussion-button {
  background-color: #EEEEEE;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 0px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 101%;
  height: auto;
  line-height: normal;
}

.blips-container .blips-container .subdiscussion-button {
  font-size: 1.2em;
  color: rgb(64, 64, 64);
  color: hsl(0, 0%, 25%);
}